/* You can add global styles to this file, and also import other style files */
  html{background-color: rgb(225, 226, 227);}

  .ui-fluid > .form-input:first-child {
    margin-top: 0px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
  }
    .small {
      width: 150px;
    }
  
    .medium {
      width: 250px;
    }
  
    .form-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 48px;
      padding-bottom: 18px;
    }
      button {
          margin-left: 18px;
      }
    
  