<div class="table-actions">
    <a class="action-link" (click)="onAddShuttleClick()"><i class="action-link image fa fa-plus"></i>Add Shuttle</a>
</div>

<p-table #shuttleVehicleTable id="shuttleVehicleTable" [value]="shuttleVehicleList" [paginator]="true" [rows]="15" [totalRecords]="shuttleVehicleList.length" [rowsPerPageOptions]="[15,30,45]" 
  [loading]="isLoading" sortField="date">
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="vehicleId">Vehicle Id<p-sortIcon field="vehicleId"></p-sortIcon></th>
          <th pSortableColumn="name">Vehicle Name<p-sortIcon field="name"></p-sortIcon></th>
          <th>Status</th>
          <th>Shuttle Type</th>
          <th>Rental Indicator</th>
          <th>Lat Coords</th>
          <th>Lon Coords</th>
          <th></th>
      </tr>
      <tr>
          <th><input style="width: 100%" pInputText type="text" placeholder="Filter vehicleId" (input)="shuttleVehicleTable.filter($event.target.value, 'vehicleId', 'contains')"></th>
          <th><input style="width: 100%" pInputText type="text" placeholder="Filter Name" (input)="shuttleVehicleTable.filter($event.target.value, 'name', 'contains')"></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-shuttleVehicle>
      <tr>
          <td>{{shuttleVehicle.vehicleId}}</td>
          <td>{{shuttleVehicle.name}}</td>
          <td>{{shuttleVehicle.status}}</td>
          <td>{{shuttleVehicle.shuttleType}}</td>
          <td>{{shuttleVehicle.rentalIndicator}}</td>
          <td>{{shuttleVehicle.latitudeCoordinates}}</td>
          <td>{{shuttleVehicle.longitudeCoordinates}}</td>
        

          <td class="table-menu">
              <span class="fa fa-ellipsis-h table-menu" (click)="openMenu(shuttleVehiclesMenu, $event, shuttleVehicle)"></span>
          </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="8">
            <p class="empty-message">No Shuttle are available for the selected filters.</p>
        </td>
      </tr>
    </ng-template>
</p-table>

<p-menu #shuttleVehiclesMenu [popup]="true" [model]="menuItems"></p-menu>

<p-dialog [header]="shuttleVehicleDialogHeader" [(visible)]="displayShuttleVehicleDialog" [resizable]="false" [modal]="true" [draggable]="false">
    <app-shuttle-vehicles-form #shuttleVehiclesForm (saveClick)="onShuttleVehicleSaveClick($event)" (cancelClick)="onShuttleVehicleCancelClick()"></app-shuttle-vehicles-form>