<router-outlet></router-outlet>
<p-toast class="custom-toast" [style]="{}"></p-toast>
<p-toast class="custom-toast" key="tripError">
  <ng-template let-message pTemplate="message">
    <div class="column" style="float:left;width:50px">
      <span class="fa fa-exclamation-circle fa-pull-left" style="font-size: 20px;color:#DA3F52;"></span>
    </div>
    <div class="column" style="float:left;width:max-content">
      <div class="p-text-left">
        <strong>{{message.summary}}</strong>
        <br>{{message.detail}}
      </div>
    </div>
  </ng-template>
</p-toast>
