<div class="table-actions">
  <!-- display the add a record link  -->
    <a class="action-link" (click)="onAddShuttleDayClick()"><i class="action-link image fa fa-plus"></i>Add Day</a>
</div>

<p-table #shuttleDayTable id="shuttleDayTable" [value]="shuttleDayList" [paginator]="true" [rows]="15" [totalRecords]="shuttleDayList.length" [rowsPerPageOptions]="[15,30,45]" 
  [loading]="isLoading" sortField="date" [sortOrder]="-1">
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="vehicleId">Vehicle Id<p-sortIcon field="vehicleId"></p-sortIcon></th>
          <th pSortableColumn="date">Date<p-sortIcon field="date"></p-sortIcon></th>
          <th>Cost</th>
          <th>Gallons</th>
          <th>Start Mileage</th>
          <th>End Mileage</th>
          <th></th>
      </tr>
      <tr>
          <th><input style="width:100%" pInputText type="text" placeholder="Filter id" (input)="shuttleDayTable.filter($event.target.value, 'vehicleId', 'contains')"></th>
          <th><input style="width:100%" pInputText type="text" placeholder="Filter date" (input)="shuttleDayTable.filter($event.target.value, 'date', 'contains')"></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-shuttleDay>
      <tr>
          <td>{{shuttleDay.vehicleId}}</td>
          <td>{{shuttleDay.date}}</td>
          <td>{{shuttleDay.fuelCost}}</td>
          <td>{{shuttleDay.fuelQuantity}}</td>
          <td>{{shuttleDay.startMileage}}</td>
          <td>{{shuttleDay.endMileage}}</td>
          <td class="table-menu">
              <span class="fa fa-ellipsis-h table-menu" (click)="openMenu(shuttleDayMenu, $event, shuttleDay)"></span>
          </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="8">
            <p class="empty-message">No Shuttle Days are available for the selected filters.</p>
        </td>
      </tr>
    </ng-template>
</p-table>

<p-menu #shuttleDayMenu [popup]="true" [model]="menuItems"></p-menu>

<p-dialog [header]="shuttleDayDialogHeader" [(visible)]="displayShuttleDayDialog" [resizable]="false" [modal]="true" [draggable]="false">
    <app-shuttle-day-form #shuttleDayForm (saveClick)="onShuttleDaySaveClick($event)" (cancelClick)="onShuttleDayCancelClick()"></app-shuttle-day-form>