
<app-banner-details></app-banner-details>
  <p-accordion>
    <p-accordionTab [disabled]="this.shuttleService.disabled"  header="Beginning of Day">
        <app-startshift></app-startshift>
    </p-accordionTab>
    <p-accordionTab [disabled]="this.shuttleService.disabled"  header="Trip">
      <app-trips></app-trips>
    </p-accordionTab>
    <p-accordionTab [disabled]="this.shuttleService.disabled" header="End of Day">
      <app-endshift></app-endshift>    
    </p-accordionTab>
</p-accordion>


  
  
