h1
{
    color: green;
    font-size: 350%;
}

.b
{
    background-color: blue;
    margin: 0 auto;
    
    width:50%;
    height: 68%;
}


.myAnimation
{
    width: 10px;
    height: 20px;
    right: 420px;
    top: 550px;
    position: relative;
    background: red;
}

