
h1
{
    color: rgb(104, 146, 184);
    font-size: 350%;
}

.background {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 694px;
}

.dot {
  height: 50px;
  width: 50px;
  position: absolute;
  /*controls dot size*/
}
