h2 {
  color: #760;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
h1
{
    color: rgb(44, 18, 188);
    font-size: 350%;
}

.b
{
    background-color: blue;
    margin: 0 auto;
    position: absolute;
    width:50%;
    height: 68%;
}


.myAnimation
{
    width: 10px;
    height: 20px;
    position: absolute;
    background: red;
}

.background {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
}

.dot {
  height: 4px;
  width: 4px;
  position: absolute;
  /*controls dot size*/
}

.front {
    position: absolute;
    /*top: 125px;
    left: 0px;*/
}

.button 
{
background-color:rgb(44, 18, 188);
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}


.button:hover 
{
background-color: rgb(124, 133, 204);
color: white;
}