h2 {
    color: #760;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
  }
  h1
  {
      color: green;
      font-size: 350%;
  }
  
  .b
  {
      background-color: blue;
      margin: 0 auto;
      position: absolute;
      width:50%;
      height: 68%;
  }
  
  
  .myAnimation
  {
      width: 10px;
      height: 20px;
      position: absolute;
      background: red;
  }
  
  .background 
  {
    background-color: blue;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*width: 900px;
    height: 600px;*/
    max-width: 500px;
    width: 100%;
    height: auto;
    
  }
  .img4
  {
    width: 500px;
    height: auto;
    
    /*object-fit:contain;*/
  }
  
  .img5
  {
    max-width: 4%;
    width: 100%;
    height: auto;
    
    /*object-fit:contain;*/
  }
  
  .front 
  {
      position: absolute;
      object-fit: none;
      object-position: 100% 100%;
  
     
  }
