<div style="text-align:center">
  <h1>
    Welcome To The Uline Shuttle App!
  </h1>

  <div class= "background"><img src="assets/LabeledCampus.jpg" alt="picture" width = "900px" height = "600px"> 
  <div class= "front"  id = "animate1"><img src="assets/red.png" class = "dot" alt="dot1"> </div>

 
</div>

  <br>

  <p>Click the button to get your coordinates.</p>

  <div id="demo"></div>

  <button class="button" onclick="getLocation()">Location</button>

  <br>
  <button class = "button" onclick="calculateH1Time()">Time Until H1</button>
  <button class = "button" onclick="calculateH2Time()">Time Until H2</button>
  <div id="H1time"></div>
  <div id="H2time"></div>
 


  </div>

<router-outlet></router-outlet>
