<div class="row">
  <div class="column col-left">
    <div class="line">
          <button pButton class="number-pad" (click) = "submitNumber(1)">1</button>
    </div>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(2)">2</button>
    </div>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(3)">3</button>
    </div>
      <br>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(4)">4</button>
    </div>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(5)">5</button>
    </div>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(6)">6</button>
    </div>
    <br>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(7)">7</button>
    </div>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(8)">8</button>
    </div>
    <div class="line">
        <button pButton class="number-pad" (click) = "submitNumber(9)">9</button>
    </div>
    <br>
    <div class="line bottom-line">
        <button pButton class="number-pad" (click) = "submitNumber(0)">0</button>
    </div>
    <div class="line bottom-line">
        <button pButton type="button" class="clear-button" label="CLR" (click) = "clearNumbers()"></button>
    </div>
  </div>
  <div class="column col-right">
    <div class="first-line">
      Destination
    </div>
    <div class="second-line">
    <div class="line-button">
          <button pButton type="button" label="H1" class="route fix" [ngClass] =  "this.towardsH1 ? '' : 'second-destination'" (click) = "changeRoute('H1')"></button>
    </div>

    <div class="line-button">
        <button pButton type="button" label="H2" class="route fix"  [ngClass] =  "this.towardsH2 ? '' : 'second-destination'" (click) = "changeRoute('H2')"></button>
    </div>

      <div class="line-button">
        <button pButton type="button" label="P" class="route fix"  [ngClass] =  "this.towardsP ? '' : 'second-destination'" (click) = "changeRoute('P')"></button>
      </div>
    </div>
     <div class = third-line>
       <div class="input-boxes">
         <div class="input-container">Passengers   <br> <input type="button"  class="passenger-input" pInputText [ngClass] =  "isCurb ? 'normal-input' : 'show-input normal-input'" (click)="setIsCurb(false)" value="{{this.passengerNumber}}" readonly/></div>
         <div class="input-container">On Curb     <br> <input type="button" class="curb-input" pInputText [ngClass] =  "isCurb ? 'show-input normal-input' : 'normal-input'" (click)="setIsCurb(true)" value = "{{this.curbNumber}}" readonly/></div>
       </div>

     </div>
      <div class="around-start">
        <button pButton type="button" [label]="isChangeLatest ? 'Update' : 'Start'" class = "start-button center-vertically" (click) = "submitTripInfo()"></button>
      </div>

     <div class="table-container">
        <p-table class="table" [value]="trips" [style]="{width:'392px'}">
            <ng-template class = "top-of-table" pTemplate="header">
                <tr class="table-padding">
                    <th>Trip #</th>
                    <th>Route</th>
                    <th>Passengers</th>
                    <th>On Curb</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-trip>
                <tr (click)="loadRow()" class="table-padding table-body">
                  <td class="left" [style] = "{textAlign:'left'}" [ngClass] =  "isChangeLatest ? 'highlight-row' : ''">{{trip.tripNumber}}</td>
                    <td class="left" [style] = "{textAlign:'left'}" [ngClass] =  "isChangeLatest ? 'highlight-row' : ''">{{trip.route}}</td>
                    <td [ngClass] =  "isChangeLatest ? 'highlight-row' : ''">{{trip.passengers}}</td>
                    <td [ngClass] =  "isChangeLatest ? 'highlight-row' : ''">{{trip.curb}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </div>
</div>
