.column {
    float: left;
    width: 50%;
    text-align: center !important;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .first-line {
    padding-bottom: 20px;
  }

  .number-pad {
    display:flex;
    justify-content: center !important;
    align-items: center !important;
    height: 60px;
    width: 60px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    font-family: Arial;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center !important;
    color: #43586d;
  }

  ::ng-deep body .ui-button.ui-button-text-only {
    min-width: 30px;
  }

  .number-pad > ::ng-deep .ui-button-text {
    padding: unset !important;
  }

  .route {
    display: flex;
    justify-content: center !important;
    /*min-width: unset !important;*/
    border-radius: 500% !important;
    width: 48px !important;
    height: 48px !important;
    background-color: #127cb5;
    font-family: ArialRoundedMT !important;
    font-size: 24px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    
  }

  .second-destination {
    color: rgb(18, 124, 181);
    background-color: white;
  }

  .center-vertically {
    /*display: table-cell !important;*/
    height: 40px !important;
    vertical-align: middle !important;
  }

  .img-container, img  {
      margin: 0;
      /*position: absolute; */
      top: 50%;
  }

  .img-container {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    display:inline-block;
    
    /*height: 50px;*/
   /*position: relative;*/
  }

  .start-button {
    width: 164px;
    height: 48px;
    border-radius: 8px;
    background-color: #528233 !important;
    font-family: AvantGarde-Demi;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .input-container {
    width: 100px;
    float: left;
    font-family: Arial;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #2e2925;
    
  }

  input {
    width: 261px;
    height: 48px;
    border-radius: 2px;
    border: solid 1px #797979;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #2e2925;
    padding-bottom: 20px !important;
      
      
  }

  tr {
    width: 396px;
    height: 48px;
    border-radius: 2px;
    border: solid 1px #797979;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #2e2925;
  }

  td {
    background-color: #ffffff;
  }

  th {
    background-color: #d9dee3;
  }

  /* td, th { 
    border-left: solid 1px black !important;
    border-bottom: solid 1px black !important;
    border-right: solid 1px black !important;
    border-top: solid 1px black !important;
    font-family: "Avant Garde Medium" !important;
    background-color: white !important;
    text-align: center !important;
  } */

  th   {
    color: #575656 !important;
    background-color: #d9d7d7 !important;
  }

  .highlight-row {
    background-color: rgba(248, 217, 132, 0.876) !important;
  }

  .line {
    white-space: nowrap;
    display:inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.show-input {
  border-color: #1f9bde;
  outline: 0 none;
  box-shadow: 0 0 5px 1px rgba(31, 155, 222, 0.5);
}

.normal-input {
  font-size: 18px;
  text-align: right;
  width: 300px;
}








  .clear-button {
    width: 140px;
    height: 60px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #003366;
    background-color: #ffffff;
    padding: unset !important;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #43586d;
  }

