.modal{
 margin-left: auto;
 margin-right: auto;
 margin-top: 10%;
 width: 500px;
 height: 504px;
 background-color: lightgray;
}


.background {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 694px;
  }