.shift-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /*width: 50px;*/
  }
  
  .info-container {
    text-align:center; 
    margin: 0 auto; 
    width: 656px;
  }
  
  .info-label {
    display: block; 
    text-align: left;
    width: 100px;
  }
  
.pSelectButtonStyle{
  margin-right: 1%;
  margin-left: 1%;
 
}
.bringDown{
  margin-top: 2%;
  width: 30%;
  position: relative;
  left: 355px;
}
.save{
  position: relative;
  margin-top: 2%;
  width: 60%;
  left: 570px;
}
.leftHalf{
  margin-bottom: 3%;
  margin-top: 2%;
 position: relative;
 left: 350px;
 width: 30%;
}
.rightHalf{
  width: 40%;
  position: relative;
  left: 350px;
}
.Mileage{
  position: relative;
  width: 6%;
  left: 285px;
  bottom: 255px;
}
.Condition{
  position: relative;
  width: 6%;
  left: 278px;
  bottom: 210px;
}
.Comments{
  position: relative;
  width: 7%;
  left: 275px;
  bottom: 160px;
}

 .text{
  padding-bottom: 40px;
}