.shift-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /*width: 50px;*/
  }
  
  .info-container {
    text-align:center; 
    margin: 0 auto; 
    width: 656px;
  }
  
  .info-label {
    display: block; 
    text-align: left;
    width: 100px;
  }

  .format ::ng-deep  .ui-button-text {
    margin-top: 5.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
} 

.conditions ::ng-deep .ui-selectbutton > .ui-button:nth-child(2) {
  margin-left: 33px;
  margin-right: 20px;
}

.conditions ::ng-deep .ui-selectbutton > .ui-button:nth-child(3) {
  margin-left: 10px;
  margin-right: 20px;
}

.conditions ::ng-deep .ui-selectbutton > .ui-button {
  border-radius: 2px;
}

.conditions {
  padding-right: 10px;
}

  
.pSelectButtonStyle{
  margin-right: 7%;
  margin-left: 1%;
 
}
.bringDown{
  margin-top: 2%;
  width: 30%;
  position: relative;
  left: 355px;
}
.save{
  position: relative;
  margin-top: 2%;
  width: 60%;
  left: 587px;
}
.leftHalf {
  margin-bottom: 3%;
  margin-top: 2%;
  position: relative;
  left: 350px;
  width: 30%;
}
.rightHalf{
  width: 40%;
  position: relative;
  left: 350px;
}
.Mileage{
  font-size: 24px;
  position: relative;
  width: 6%;
  left: 245px;
  bottom: 295px;
}
.Condition{
  font-size: 24px;
  position: relative;
  width: 6%;
  left: 230px;
  bottom: 235px;
}
.Comments{
  font-size: 24px;
  position: relative;
  width: 7%;
  left: 220px;
  bottom: 170px;
}

 .text{
  padding-bottom: 40px;
}