<div style="text-align:center">
  <h1>
    Request a Ride
  </h1>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "407px" height = "316px"></div>

  
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "300px" height = "200px"></div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "320px" height = "213px"></div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "360px" height = "240px"> </div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "400px" height = "267px"> </div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "500px" height = "333px"></div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "600px" height = "400px"> </div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "650px" height = "433px"> </div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "700px" height = "467px"></div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "750px" height = "500px"> </div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "800px" height = "533px"> </div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "850px" height = "567px"> </div>
  <div><img src="assets/ShuttleMap_small.png" alt="picture" width = "900px" height = "600px"> </div>




   <table>
    <tbody id="tableToModify">
    <tr>
      <th style="text-align:center">Passengers</th>
      <th style="text-align:center">Origin</th>
      <th style="text-align:center">Door</th>
      <th style="text-align:center">Destination</th>
    </tr>
    <tr id="rowToClone">
      <td style="text-align:center"><select>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
      </select></td>
      <td style="text-align:center"><select>
        <option value="H1">H1</option>
        <option value="H2">H2</option>
        <option value="H3">H3</option>
        <option value="W1">W1</option>
        <option value="W2">W2</option>
      </select></td>
      <td style="text-align:center"><select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select></td>
      <td style="text-align:center"><select>
        <option value="H1">H1</option>
        <option value="H2">H2</option>
        <option value="H3">H3</option>
        <option value="W1">W1</option>
        <option value="W2">W2</option>
      </select></td>

      <!--configure no response-->

      <!--Must work on prompt later-->
      <td style="text-align:center"> <button class="button" onclick="submitRequest()">Submit</button> </td>
    </tr>
  </tbody>
  </table>
  

</div>
