<div style="text-align:center">
  <h1>
    Request a Ride
  </h1>
  <div class = "requestContainer">
      <div class="requestStyle">
        <div>
          <label class = "requestLabel">Passengers</label>
          <p-dropdown appendTo="body" [options]="passengerInputs" [(ngModel)]="passengerInput"></p-dropdown>
        </div>
        <div>
            <label class = "requestLabel">Origin</label>
            <p-dropdown appendTo="body" [options]="originInputs" [(ngModel)]="originInput"></p-dropdown>
        </div>
        <div>
            <label class = "requestLabel">Door</label>
            <p-dropdown appendTo="body" [options]="doorInputs" [(ngModel)]="doorInput"></p-dropdown>
        </div>
        <div>
            <label class = "requestLabel">Destination</label>
            <p-dropdown appendTo="body" [options]="destinationInputs" [(ngModel)]="destinationInput"></p-dropdown>
        </div>
        <div>
          <label class = "requestLabel"></label>
          <button pButton (click)="submitRequest();" label = "Submit"></button>
      </div>
      </div>
    </div>
 
 
 </div>