
.background {
 position: relative;
 margin-left: auto;
 margin-right: auto;
 width: 900px;
 height: 600px;
}

.requestStyle {
 display: flex;
 text-align: center;
 justify-content: space-between;
 align-items: center;
}

.requestContainer {
 text-align:center;
 margin: 0 auto;
 width: 656px;
}

.requestLabel {
 display: block;
 text-align: left;
 width: 100px;
}

.dot {
 height: 4px;
 width: 4px;
 position: absolute;
}

.front {
   position: absolute;
}