.shift-info {
    display: flex;
    text-align: center;
    align-items:center;
  }

  .info-label {
    width: 30%;
    float: left;
    text-align: right;
    padding-top: 12px;
  }
  
  .column2 {
    float: left;
    width: 65%;
  }

  .column1 {
    float:left;
    width:30%;
  }

  .submit {
    margin-left: 71%;
  }

  .pSelectButtonStyle{
    margin-right: 1%;
    margin-left: 1%;
  }

  .inputText {
    width: 65%;
    margin-left: 5px;
    float: left;
    margin-bottom: 15px;
    display: inline-flex;
  }

  .buttons {
    display: inline-flex;
    padding: 8px;
  }


