.shift-info {
    display: flex;
    text-align: center;
    align-items:center;
  }

  .info-label {
    font-size: 24px;
    width: 30%;
    float: left;
    text-align: right;
    padding-top: 15px;
  }

  
  .info-label2 {
    font-size: 24px;
    width: 30%;
    float: left;
    text-align: right;
    padding-top: 35px;
  }
  
  
  .column2 {
    float: left;
    width: 65%;
  }

  .format ::ng-deep .ui-button-text {
    margin-top: 5.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
} 



  .column1 {
    float:left;
    width:30%;
  }

  .submit {
    margin-left: 73.5%;
  }

  .pSelectButtonStyle{
    margin-right: 6%;
    margin-left: 1%;
  }

  .inputText {
    width: 65%;
    margin-left: 5px;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-flex;
  }

  .buttons {
    display: inline-flex;
    padding: 8px;
  }


