<br>
<div class="info-container">
    <div class="shift-info">
      <div class="column1">
        <div class="block">
            <div class="info-label">Gallons:</div>
            <div class="inputText"><input type="number" [(ngModel)]="quantity" pInputText /></div>
          </div>
          <div class="block">
              <div class="info-label">Cost:</div>
              <div class="inputText"><input type="number" [(ngModel)]="cost" width="10px" pInputText /></div>
            </div>
            <div>
                <div class="info-label">Mileage:</div>
                <div class="inputText"><input type="number" [(ngModel)]="mileage" pInputText /></div>
              </div>
      </div>
      <div class="column2">
     
      <div class="buttons">
          <div class="info-label">Condition:</div>
          <p-selectButton class="pSelectButtonStyle" [options]="good" [(ngModel)]="condition"></p-selectButton>
          <p-selectButton class="pSelectButtonStyle" [options]="fair" [(ngModel)]="condition"></p-selectButton>
          <p-selectButton class="pSelectButtonStyle" [options]="bad" [(ngModel)]="condition"></p-selectButton>
      </div>
      <br>
      <div>
        Comments:
        <textarea pInputTextArea [(ngModel)]="comment" cols="30" rows="4"></textarea>
      </div>
    </div>
      
    </div>
    <br>
    <div class="submit">
        <label class="info-label"></label>
        <button pButton (click)="submitEndData();" label="Save"></button>
      </div>
</div>
