<br>
<br>
<div class="info-container">
    <div class="shift-info">
      <div class="column1">
        <div class="block">
            <div class="info-label">Gallons:</div>
            <div class="inputText"><input type="number" [(ngModel)]="quantity" pInputText /></div>
          </div>
          <div class="block">
              <div class="info-label">Cost:</div>
              <div class="inputText"><input type="number" [(ngModel)]="cost" width="10px" pInputText /></div>
            </div>
            <div>
                <div class="info-label">Mileage:</div>
                <div class="inputText"><input type="number" [(ngModel)]="mileage" pInputText /></div>
              </div>
      </div>
      <div class="column2">
        <div class="info-label">Condition:</div>
      <div >
          <div class="inputText">
          <p-selectButton class="pSelectButtonStyle format" [options]="good" [(ngModel)]="condition"></p-selectButton>
          <p-selectButton class="pSelectButtonStyle format" [options]="fair" [(ngModel)]="condition"></p-selectButton>
          <p-selectButton class="pSelectButtonStyle format" [options]="bad" [(ngModel)]="condition"></p-selectButton>
        </div>
      </div>
      <br>
      <div>
        <div class="info-label">Comments:</div>
        <div class="inputText"><textarea pInputTextArea [(ngModel)]="comment" cols="43" rows="4"></textarea></div>
      </div>
    </div>

    
    </div>
    <div class="submit">
      <button pButton (click)="submitEndData('success');" label="Save"></button>
    </div>
      
    <br>
    
</div>
