<form [formGroup]="shuttleVehiclesForm">
  <div class="ui-fluid">

    <span class="form-input">
      <label for="statusInput" class="required">Status</label>
      <input id="statusInput" class="medium" maxlength="1" formControlName="status" placeholder="A or I" type="text" pInputText>
    </span>

    <span class="form-input">
      <label for="nameInput" class="required">Name</label>
      <input id="nameInput" class="medium" formControlName="name" type="text" pInputText>
    </span>

    
    <span class="form-input">
      <label for="shuttleTypeInput" class="required">Shuttle Type</label>
      <input id="shuttleTypeInput" class="medium" formControlName="shuttleType" placeholder="VAN or CAR" type="text" pInputText>
    </span>

    <span class="form-input">
      <label for="rentalIndicatorInput" class="required">Rental Indicator</label>
      <input id="rentalIndicatorInput" class="medium" formControlName="rentalIndicator" placeholder="N or Y" type="text" pInputText>
    </span>
    
    <span class="form-input">
      <label for="requestNotesInput" class="required">Request Notes</label>
      <textarea id="requestNotesInput" formControlName="requestNotes" [rows]="5" [cols]="25" pInputTextarea></textarea>
    </span>

  </div>

  
  <span class="form-footer">
    <button pButton type="button" label="CANCEL" class="ui-button-secondary" (click)="onCancelClick()"></button>
    <button pButton type="button" label="SUBMIT" (click)="onSaveClick()" [disabled]="!shuttleVehiclesForm.valid"></button>
</span>

</form>