.background{
    background-color:#E3E5F4;
}

p-button{
    margin-right: 1%;
    margin-left: 3%;
}

.pSelectButtonStyle{
    margin-right: 1%;
    margin-left: 1%;
}

.move{
    float: right;
}

.move1{
    float: right;
    margin-right: 2%;
}