<h3 class="first">Fuel</h3>
<div class="info-container">
  <form [formGroup]="fuelForm">
    <div class="fuel-info">
      <div>
        <label class="info-label">Quantity</label>
        <input type="text" formControlName="quantity" pInputText />
      </div>
      <div>
        <label class="info-label">Cost</label>
        <input type="text" formControlName="cost" pInputText />
      </div>
      <div>
        <label class="info-label"></label>
        <button pButton (click)="submitFuelData();" label="Submit"></button>
      </div>
    </div>
  </form>
</div>