.admin-content {
    margin: 12px 12px;
}



.managerLogin {
    background-color: #003366;
    border-radius: 2px;
    border: solid 1px #cccccc;
    font-family: Arial;
    font-size: 14px;
    align-self: center;
    margin-right: 10px;
  }
  